parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src
        - public
        - test
        - test-api
    bootstrapFiles:
        - phpstan-bootstrap.php
    dynamicConstantNames:
        - API_DATA_DIR
        - API_TRASH_DIR
        - Config::ENABLE_CORS
