DirectoryIndex index.html index.php
Options -Indexes

#
# Compress
#
FilterDeclare COMPRESS
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} =~ m#^text\/#i"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} =~ m#^application\/(atom\+xml|javascript|json|rss\+xml|xml|xhtml\+xml)#i"
FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} =~ m#^image\/(svg\+xml|x-icon)#i"
FilterChain COMPRESS
FilterProtocol COMPRESS DEFLATE change=yes;byteranges=no

#
# Rewrite
#
RewriteEngine On

#
# http -> https
#
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
